.pagination {
  cursor: pointer;
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
  @include mq(tablet) {
    margin-top: 0;
  }
}

[data-btn],
.empryBox {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-txt);
  font-size: 12px;
}

.empryBox {
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  @include mq(tablet) {
    display: flex;
  }
}

.firstPage,
.lastPage {
  display: none;
  @include mq(tablet) {
    display: block;
  }
}

.firstPage.current,
.lastPage.current {
  display: block;
}

.pagination [data-btn]:hover,
.pagination [data-btn]:hover {
  background-color: var(--btn-rating-bg);
}

.current {
  color: var(--secondary-txt);
  background-color: var(--btn-rating-bg);
}

.left-arrow,
.right-arrow {
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--footer-bg);
}

.left-arrow {
  background-image: url(../img/arrow-left.svg);
}

.right-arrow {
  background-image: url(../img/arrow-right.svg);
}
