body {
    font-family: var(--primary-font);
    color: var(--primery-txt);
    background-color: var(--background-color);
  }
  
  .section {
      padding-top: 20px;
      padding-bottom: 20px;
      
    @include mq(tablet) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }