body {
    font-family: var(--primary-font);
    color: var(--primery-txt);
    background-color: var(--background-color);
  }
  
  .section {
      padding-top: 40px;
      padding-bottom: 40px;
      
    @include mq(tablet) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
    .visually-hidden {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }