header, main, footer{
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  
    @include mq(tablet) {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
      }
    
      @include mq(desktop) {
        max-width: 1280px;
      }
}