.section {
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.container {
    outline: 1px solid red;
    @media screen and (min-width: 480px) {
        max-width: 480px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }

    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.gallery {
        outline: 1px solid blue;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: -16px -8px;
    }
}

.film-card {
        outline: 1px solid green;
    /* background-color: var(--light-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; */

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 40px;
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2 * 32px) / 2);
        margin: 16px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 3 * 16px) / 3);
        margin: 16px 8px;
    }
}

.poster {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 12px;
}

.info-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        /* or 120% */
    
        text-transform: uppercase;
    
        color: #000000;
}

.team-box {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 32px;
    padding-left: 32px;
}

.team__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color);
}

.team__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--primery-text-color);
}