:root {
    
    --primary-font: 'Roboto', sans-serif;
  
    --primery-txt: #000000;
    --secondary-txt: #ffffff;
    --body-second-txt: #FF6B08;
    --modal-title-txt: #8C8C8C;
    --footer-txt: #545454;
  
    --background-color: #ffffff;
    --footer-bg: #F7F7F7;

    --btn-rating-bg: #FF6B01;
   
    --animation-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }