.footer {
  display: flex;

  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  width: 100%;
  height: 100px;
  margin-top: 40px;
  @include mq(tablet) {
    height: 79px;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    line-height: 1.18;
    margin-top: 60px;
  }
  @include mq(desktop) {
    height: 77px;
  }

  color: var(--footer-txt);
  background-color: var(--footer-bg);
}
.footer__rights {
  margin-bottom: 10px;
  @include mq(tablet) {
    margin-bottom: 0;
    margin-right: 5px;
  }
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__btn {
  color: inherit;
  background-color: transparent;
  border-bottom: 1px solid var(--footer-txt);
  cursor: pointer;
}

.hide {
  display: none;
}
