<header class="page__header">
    <div class="container header__container">
        <div class="header__overlay">
            <a href="index.html" class="logo">
                <svg class="logo__icon" width="24" height="24">
                    <use href="/src/images/icons-header.svg#icon-film"></use>
                </svg>
                <span class="logo__span">Filmoteka
                </span>
            </a>
            <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a href="#home" class="nav__link nav__link--current">Home</a>
                </li>
                <li class="header__item">
                    <a href="#my-libriry" class="nav__link nav__link--library">My library</a>
                </li>
            </ul>
            </nav>
        </div>
        <form class="form">
            <input class="form__input" type="search" placeholder="movie-search" name="search">
            <svg class="input__icon" width="12" height="12">
            <use href="/src/images/icons-header.svg#icon-search"></use>
        </svg>
        </form>
    </div>
</header>