<header class="page__header page__header--home">
    <div class="container">
        <div class="header__overlay">
            <a href="/src/index.html" class="logo">
                <svg class="logo__icon" width="24" height="24">
                    <use href="/src/images/icons-header.svg#icon-film"></use>
                </svg>
                <span class="logo__span">Filmoteka
                </span>
            </a>
            <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a href="/src/index.html" class="nav__link nav__link--current">Home</a>
                </li>
                <li class="header__item">
                    <a href="/src/mylibrary.html" class="nav__link">My library</a>
                </li>
            </ul>
            </nav>
        </div>
        <form class="form">
            <div class="input__overlay">
                <input class="form__input" type="search" placeholder="Movie search" name="search">
                <button class="form__btn" type="submit">
                    <svg class="input__icon" width="12" height="12">
                     <use href="/src/images/icons-header.svg#icon-search-input"></use>
                    </svg>
                </button>   
            </div>
            <p class="falseresult__message hide">Search result not successful. Enter the correct movie name and </p>
        </form>
    </div>
</header>