<header class="page__header page__header--library">
    <div class="container">
        <div class="header__overlay">
            <a href="/src/index.html" class="logo">
                <svg class="logo__icon" width="24" height="24">
                    <use href="/src/images/icons-header.svg#icon-film"></use>
                </svg>
                <span class="logo__span">Filmoteka
                </span>
            </a>
            <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a href="/src/index.html" class="nav__link">Home</a>
                </li>
                <li class="header__item">
                    <a href="/src/mylibrary.html" class="nav__link nav__link--current">My library</a>
                </li>
            </ul>
            </nav>
        </div>
        <ul class="header__btns">
            <li class="header__btn header__item--watched"><a class="header__btnlink" href="#watched"><button class="header__btn--watched" type="button">Watched</button></a></li>
            <li class="header__btn header__item--queue"><a class="header__btnlink" href="#queue"> <button class="header__btn--queue" type="button">Queue</button></a></li>
        </ul>
    </div>
</header>