<div class="backdrop is-hidden">
        <div class="backdrop__container container">
                <h2 class="backdrop__title">Project was made by:</h2>
                <ul class="backdrop__list ">
                        <li> 
                                <img class="backdrop__img" src="/src/images/footer/Volodymyr.jpg" alt="Volodymyr">
                                <div>
                                   <h3>Team Lead</h3>
                                   <p>Volodymyr Bashtanyuk</p>
                                   <a href="https://github.com/VolodymyrBashtanyuk"class="icon" target="_blank"></a>
                                </div>
                        
                        </li>
                        <li>
                                <img class="backdrop__img" src="/src/images/footer/Olena.jpg" alt="Olena">
                                <div>
                                   <h3>Scrum master</h3>
                                   <p>Olena Zhyzhko</p>
                                   <a href="https://github.com/Olena-Zhyzhko"class="icon" target="_blank"></a>
                                </div>
                        </li>
                        <li>
                                <img class="backdrop__img" src="/src/images/footer/Darya.jpg" alt="Darya">
                                <div>
                                   <h3>Developer</h3>
                                   <p>Darya Bobur</p>
                                   <a href="https://github.com/DaryaBobur"class="icon" target="_blank"></a>
                                </div>
                        </li>
                        <li>
                                <img class="backdrop__img" src="/src/images/footer/Kateryna.jpg" alt="Kateryna">
                                <div>
                                   <h3>Developer</h3>
                                   <p>Kateryna Hrabanova</p>
                                   <a href="https://github.com/54Cat"class="icon" target="_blank"></a>
                                </div>
                        </li>
                        <li>
                                <img class="backdrop__img" src="/src/images/footer/Nataliia.jpg" alt="Nataliia">
                                <div>
                                   <h3>Developer</h3>
                                   <p>Nataliia Kuleshova</p>
                                   <a href="https://github.com/Nataliia2"class="icon" target="_blank"></a>
                                </div>
                        </li>
                        <li>
                                <img class="backdrop__img" src="/src/images/footer/Oksana.jpg" alt="Oksana">
                                <div>
                                   <h3>Developer</h3>
                                   <p>Oksana Polyakova</p>
                                   <a href="https://github.com/Dreamer2201"class="icon" target="_blank"></a>
                                </div>
                        </li>
                        <li>
                                <img class="backdrop__img" src="/src/images/footer/Slava.jpg" alt="Yaroslav">
                                <div>
                                   <h3>Developer</h3>
                                   <p>Yaroslav Rechkalov</p>
                                   <a href="https://github.com/Rechkalov1"class="icon" target="_blank"></a>
                                </div>
                        </li>
                        <li>
                                <img class="backdrop__img" src="/src/images/footer/Vita.jpg" alt="Vita">
                                <div>
                                   <h3>Developer</h3>
                                   <p>Vita Ospanova</p>
                                   <a href="https://github.com/OspanovaV"class="icon" target="_blank"></a>
                                </div>
                        </li>
                        <li>
                                <img class="backdrop__img" src="/src/images/footer/Serhii.jpg" alt="Serhii">
                                <div>
                                   <h3>Developer</h3>
                                   <p>Serhii Lukianenko</p>
                                   <a href="https://github.com/serhiilukianenkodev"class="icon" target="_blank"></a>
                                </div>
                        </li>
                </ul>
                <button class="backdrop__button" type="button">Close</button>
         
        </div>
        
</div>