<div class="backdrop is-hidden">
        <div class="backdrop__container ">
                <ul class="backdrop__list container">
                        <li>
                                
                                <img class="backdrop__img" src="/src/images/footer/Безымянный.jpg" alt="" width="150">
                                <h2>Team Lead</h2>
                                <p>Volodymyr Bashtanyuk</p>
                        
                        </li>
                        <li>
                                <img class="backdrop__img" src="/src/images/footer/Безымянный.jpg" alt="" width="150">
                                <h2>Team Lead</h2>
                                <p></p>
                        </li>
                        <li>
                                <img class="backdrop__img" src="/src/images/footer/Безымянный.jpg" alt="" width="150">
                                <h2>Team Lead</h2>
                                <p></p>
                        </li>
                        <li>
                                <img class="backdrop__img" src="/src/images/footer/Безымянный.jpg" alt="" width="150">
                                <h2>Team Lead</h2>
                                <p></p>
                        </li>
                        <li>
                                <img class="backdrop__img" src="/src/images/footer/Безымянный.jpg" alt="" width="150">
                                <h2>Team Lead</h2>
                                <p></p>
                        </li>
                        <li>
                                <img class="backdrop__img" src="/src/images/footer/Безымянный.jpg" alt="" width="150">
                                <h2>Team Lead</h2>
                                <p></p>
                        </li>
                        <li>
                                <img class="backdrop__img" src="/src/images/footer/Безымянный.jpg" alt="" width="150">
                                <h2>Team Lead</h2>
                                <p></p>
                        </li>
                        <li>
                                <img class="backdrop__img" src="/src/images/footer/Безымянный.jpg" alt="" width="150">
                                <h2>Team Lead</h2>
                                <p></p>
                        </li>
                        <li>
                                <img class="backdrop__img" src="/src/images/footer/Безымянный.jpg" alt="" width="150">
                                <h2>Team Lead</h2>
                                <p></p>
                        </li>
                </ul>
                <button class="backdrop__button" type="button">Close</button>
         
        </div>
        
</div>