.film-card {
    &:not(:last-child) {
        @include mq(mobile-only) {
            margin-bottom: 40px;
        }
    }

        @include mq(tablet) {
        flex-basis: calc((100% - 2 * 32px) / 2);
        margin: 16px;
    }

        @include mq(desktop) {
        flex-basis: calc((100% - 3 * 16px) / 3);
        margin: 16px 8px;
    }

        transition: transform var(--animation-hover), text-shadow var(--animation-hover);

        &:focus,
        &:hover {
            transform: scale(1.03);
        }
}

.poster__thumb {
    width: 100%;
    height: 592px;

    @include mq(mobile-only) {
        height: auto;
        }
}

.poster {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.film-card > p {
    margin: 0;
}

.info-title {
    margin-top: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;

    color: var(--primery-text-color);

    @include mq(tablet) {
        line-height: 1.33;
    }

    @include mq(desktop) {
    font-size: 20px;
    line-height: 1.2;
    }

       .film-card:focus &,
       .film-card:hover & {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
}

.info-item {
    margin-top: 0;
    display: flex;
    text-transform: none;
    color: var(--body-second-txt);
}
.info-item > p {
    &:not(:last-child) {
        margin-right: 8px;
        padding-right: 8px;
        border-right: 1px solid var(--body-second-txt);
    }
}

.btn__etc {
    display: inline-block;
    color: var(--primery-text-color);
    background-color: transparent;
}