.film-card {
  &:not(:last-child) {
    @include mq(mobile-only) {
      margin-bottom: 40px;
    }
  }

  @include mq(tablet) {
    flex-basis: calc((100% - 2 * 32px) / 2);
    margin: 16px;
  }

  @include mq(desktop) {
    flex-basis: calc((100% - 3 * 16px) / 3);
    margin: 16px 8px;
  }

  transition: transform var(--animation-hover),
    text-shadow var(--animation-hover);

  &:focus,
  &:hover {
    transform: scale(1.03);
  }
}

// .poster__thumb {
//   width: 100%;

//   @include mq(mobile-only) {
//     height: auto;
//   }

//   @include mq(tablet) {
//     height: 492px;
//   }

//   @include mq(desktop) {
//     height: 592px;
//   }
// }

.poster {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;

  @include mq(tablet) {
    width: 334px;
    height: 445px;
  }

  @include mq(desktop) {
    height: 574px;
    width: 395px;
  }
}

.film-card > p {
  margin: 0;
}

.info-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 3px;
  color: var(--primery-text-color);

  @include mq(tablet) {
    line-height: 1.33;
    margin-top: 8px;
  }

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.2;
    margin-top: 12px;
  }

  .film-card:focus &,
  .film-card:hover & {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.info-item {
  margin-top: 0;
  display: flex;
  text-transform: none;
  color: var(--body-second-txt);
}
.info-item > p {
  &:last-child {
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid var(--body-second-txt);
  }
}

.btn__etc {
    display: inline-block;
    color: var(--primery-text-color);
    background-color: transparent;
}

.rating{
    display: flex;
    align-items: center;
    color: var( --secondary-txt);
    background-color: var(--btn-rating-bg);
    border-radius: 4px;
    padding-right: 10px;
}
.date{
    display: flex;
    align-items: center;
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid var(--body-second-txt);

}
