.section {
    padding-top: 20px;
    padding-bottom: 20px;

    @include mq(tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.gallery {
    @include mq(tablet) {  
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: -16px -8px;
    }
}

