.footer{
    display: flex;
    
    text-align: center; 
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    width: 100%;
    height: 100px;
    @include mq(tablet) {
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        line-height: 1.18;
      }

    color: var(--footer-txt);
    background-color: var(--footer-bg);
}
.footer__rights{
    margin-bottom: 10px;
    @include mq(tablet) {
        margin-bottom: 0;
        margin-right: 5px;
      }
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__btn{
    color: inherit;
    border-bottom: 1px solid var(--footer-txt);
    cursor: pointer;
}

.hide {
    display: none;
}