.page__header {
    min-width: 320px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 44px;

    font-weight: 500;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url(../images/header/header-bg_s@1x.png);
    opacity: 0.9;
    background-color: var(--header-bg);
    @include mq(retina) {
        background-image: url(../images/header/header-bg_s@2x.png);
        background-color: var(--header-bg);
    }
    @include mq(tablet) {
        height: 216px;
        background-image: url(../images/header/header-bg_m@1x.png);  
        background-color: var(--header-bg);
        @include mq(retina) {
            background-image: url(../images/header/header-bg_m@2x.png);
            background-color: var(--header-bg);
        }
    }    
    @include mq(desktop) {
            background-image: url(../images/header/header-bg_l@1x.png); 
            background-color: var(--header-bg);
            @include mq(retina) {
                background-image: url(../images/header/header-bg_l@2x.png);
                background-color: var(--header-bg);
            }   
            }
}
.header__overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.header__list {
    display: flex;
    align-items: center;
}
.logo__span {
    display: none;
    @include mq(tablet) {
        display: block;
        margin-left: 10px;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.17;
        color: var(--secondary-txt);
    }
}
.header__item:last-child {
    margin-left: 40px;
}
.nav__link {
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.17;
    color: var(--secondary-txt);
}
.nav__link--current::after {
        position: absolute;
        bottom: -1px;
        left: 0px;
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: #FF001B;
        }
.form {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    @include mq(tablet) {
        margin-top: 40px;
    }
}
.input__overlay {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.form__input {
    width: 280px;
    background-color: transparent;
    color: var(--secondary-txt);
    border: none;
    border-bottom: 0.5px solid var(--secondary-txt);
    @include mq(tablet) {
        width: 336px;
    }
    @include mq(desktop) {
        width: 394px;
    }
    
}
.form__btn {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
}
.form__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: var(--secondary-txt);
}
.falseresult__message {
    margin-right: auto;
    margin-left: auto;
    margin-top: 16px;

    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #FF001B;
    width: 280px;
    @include mq(tablet) {
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
}

// My library header 
.header__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 62px;
    @include mq(tablet) {
        margin-top: 40px;
    }
}
.header__btn {
    width: 130px;
    height: 44px;
    border: 1px solid var(--secondary-txt);
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include mq(tablet) {
        width: 152px;
    }
}
.header__btn:hover,
.header__btn:focus {
    background-color: var(--btn-rating-bg);
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    border: transparent;
}
.header__btn:last-child {
    margin-left: 20px;
    @include mq(tablet) {
        margin-left: 32px;
    }
    @include mq(desktop) {
        margin-left: 16px;
    }
}
.header__btn--watched,
.header__btn--queue {
    background-color: transparent;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--secondary-txt);
}