.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
   
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: opacity  var(--animation-hover) visibility  var(--animation-hover),
        transform  var(--animation-hover);
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
    
   
}
.backdrop__container{
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    transform: translate(-50%, -50%) scale(1);
    background: linear-gradient(0deg, rgb(246, 240, 238) 34%, rgb(103, 71, 71));
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--animation-hover);
    z-index: 20;
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.5);
    }
    @include mq(mobile) {
        width: 450px;
        height: 500px;
      }
      @include mq(tablet) {
        width: 600px;
        height: 500px;
      }
      @include mq(desktop) {
        width: 900px;
        height: 600px;
      }
}
.backdrop__title{
    margin-bottom: 10px;
    text-align: center;
    @include mq(desktop) {
        font-size: 40px;
      }

}

.backdrop__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    @include mq(desktop) {
        display: inline;
      }
      & div {
        @include mq(desktop) {
            font-size: 30px;
          }
      }
   
}
.backdrop__img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    @include mq(mobile) {
        margin-right: 50px;
    }
    @include mq(desktop) {
        width: 300px;
        height: 300px;
      }
    
}
.backdrop__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 25px;
    margin-bottom: 10px;
    border: transparent;
    background-color: var(--btn-rating-bg);
    cursor: pointer;
    @include mq(desktop) {
        padding: 10px 40px;
    };
    &:hover,
    &:focus {
        background-color: #f68635;
        transition: var(--animation-hover);
    }
}

.backdrop__list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:nth-last-of-type(2n){
        flex-flow: row-reverse;
        .backdrop__img{
            margin-right: 0;
            margin-left: 10px;
            @include mq(mobile) {
                margin-left: 50px;
              }
        }
    }
}
