.backdrop-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: auto;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 10;

  background-color: rgba(190, 207, 217, 0.5);
}

.is-open.backdrop-modal {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.ishidden {
  overflow: hidden;
  height: 100vh;
}

.modal-movie {
  position: absolute;
  width: 280px;
  min-height: 500px;
  top: 50%;
  left: 50%;
  padding: 48px 20px 40px 20px;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  @include mq(mobile-only) {
    top: 65%;
  }

  @include mq(tablet) {
    width: 704px;
    min-height: 400px;
    padding: 40px 72px 40px 36px;
  }
  @include mq(desktop) {
    width: 806px;
    min-height: 558px;
    padding: 40px 12px;
  }
}

  .modal-movie-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--background-color);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: black;

  &:hover .modal-movie-img-close,
  &:focus .modal-movie-img-close {
    fill: var(--btn-rating-bg);
  }
}

.modal-movie-img-close {
  // fill: #f00;

  height: 18px;
  width: 18px;
}

.modal-movie-cont__img{
  width: 240px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;

  @include mq(tablet) {
    margin-right: 68px;
    margin-bottom: 0;
    width: 264px;
  }
  @include mq(desktop) {
    margin-right: 16px;
    width: 375px;
  }
}

.modal-movie-img {
  object-fit: cover;
  // width: 150px;
  // height: 200px;
}

.modal-movie-cont{
  @include mq(tablet) {
    display: flex;
  }
  @include mq(desktop) {
    display: flex;
  }

}

.modal-movie-cont__about {
  @include mq(tablet) {
    width: 265px;
  }

  @include mq(desktop) {
    width: 391px;
  }
}

.modal-movie__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.15;
  color: var(--primary-font);
  text-transform: uppercase;
  margin-bottom: 20px;

  @include mq(desktop) {
    font-size: 30px;
  }

}

.modal-movie-table {
  padding: 0;
  margin: 0 0 20px 0;
}

.modal-movie-table > tr{
margin-bottom: 8px;  
}

.modal-movie-table__item-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--modal-title-txt);
  width: 140px;
}

.modal-movie-table__item-value {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--primary-font);
  text-transform: uppercase;

  & .vote {
  display: inline-block;
  text-align: center;
  min-width: 36px;
  height: 16px;
  padding: 1px 9px 1px 10px;
  color: var(--secondary-txt);
  background-color: var(--body-second-txt);
  border-radius: 5px;
  }

  & .votes {
    display: inline-block;
    text-align: center;
    min-width: 36px;
    height: 16px;
    padding: 1px 4px;
    background-color: var(--footer-bg);
    border-radius: 5px;
    color: var(--primery-txt);
  }
}

.modal-movie-about {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--primary-font);
}

.modal-movie-descr-movie {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  color: var(--primary-font);
  margin-bottom: 20px;
}

.modal-movie__btn-list {
  display: flex;
}

.btn-watched {
  margin-right: 20px;
  border-radius: 5px;
  border: 0px solid transparent;
  padding: 4px 10px;
  width: 110px;

  border: 1px solid var(--primery-txt);
  background-color: transparent;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  color: var(--primery-txt);
  cursor: pointer;
  text-transform: uppercase;

  transition-property: transform, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.05);
    background-color: var(--body-second-txt);
    color: rgba(255, 255, 255, 0.9);
  }

  @include mq(mobile-only) {
    font-size: 12px;
  }

  @include mq(mobile) {
    height: 44px;
  }

  @include mq(tablet) {
    margin-right: 15px;
    width: 125px;
  }

  @include mq(desktop) {
    margin-right: 15px;
    width: 136px;
  }
}

.btn-queue {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 2px 10px;
  border: 1px solid var(--primery-txt);
  width: 111px;

  background-color: transparent;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  color: var(--primery-txt);
  cursor: pointer;
  text-transform: uppercase;
  transition-property: background-color, transform;
  transform-origin: left;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.05);
    background-color: var(--body-second-txt);
    color: rgba(255, 255, 255, 0.9);
  }
  

  @include mq(mobile) {
    height: 44px;
    font-size: 12px;
  }

  @include mq(tablet) {
    width: 125px;
  }

  @include mq(desktop) {
    width: 136px;
  }
}

.more {
  @include mq(mobile-only) {
    padding: 4px;
  }
 
}