.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 60px 0;
    padding: 0;
}

[data-btn],
.empryBox {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-txt);
    font-size: 12px;
}

.empryBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination [data-btn]:hover,
.pagination [data-btn]:hover {
    background-color: var(--btn-rating-bg);
}

.current {
    color: var(--secondary-txt);
    background-color: var(--btn-rating-bg);
}

.left-arrow, 
.right-arrow{
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--footer-bg);
}

.left-arrow{
    background-image: url(../img/arrow-left.svg);
}

.right-arrow{
    background-image: url(../img/arrow-right.svg);
}
