.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(226, 21, 21);
}
.loader {
  width: 175px;
  height: 175px;
  border: 10px solid white;
  border-radius: 50%;
  border-top-color: rgb(189, 40, 77);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
